---
import '@/styles/globals.css';
import HighlightsCarousel from '@/components/Highlights/HighlightsCarousel';
---

<div class='highlights'>
	<div class='ttl-ctn'>
		<h2 class='opacity-60'>Get the highlights.</h2>
	</div>
	<div class='carousel'>
		<HighlightsCarousel client:load>
			<div class='chip' slot='chip'>
				<span class='text-4xl font-semibold'>The New A17 Pro Chip</span>
				<p class='text-2xl opacity-75 font-semibold'>Game-changing chip. Still a useless chip.</p>
			</div>
			<div class='img-ctn' slot='chipMedia'>
				<video
					class='absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 z-0 w-[80%] h-[80%] rounded-3xl overflow-hidden bg-black'
					src='/videos/chip.mp4'
					muted
					preload='none'
					playsinline
					id='chip_highlight_video'
					data-highlight-video='1'>
				</video>
			</div>

			<div class='titanium' slot='titanium'>
				<span class='text-4xl font-semibold'>Forged in Titanium. Why?</span>
				<p class='text-2xl opacity-75 font-semibold'>So lightweight, feels like it's going to fly out your pocket.</p>
			</div>
			<div class='img-ctn' slot='titaniumMedia'>
				<video
					class='absolute right-0 bottom-5 z-0 w-[80%] h-[80%] rounded-3xl overflow-hidden bg-black'
					src='/videos/titanium.mp4'
					muted
					preload='none'
					playsinline
					id='titanium_highlight_video'
					data-highlight-video='2'>
				</video>
			</div>

			<div class='zoom' slot='zoom'>
				<span class='text-4xl font-semibold'>Forged in Titanium. Why?</span>
				<p class='text-2xl opacity-75 font-semibold'>So lightweight, feels like it's going to fly out your pocket.</p>
			</div>
			<div class='img-ctn' slot='zoomMedia'>
				<video
					class='absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 z-[-1] h-[680px] rounded-3xl overflow-hidden bg-black'
					src='/videos/zoom.mp4'
					muted
					preload='auto'
					playsinline
					id='zoom_highlight_video'
					data-highlight-video='3'></video>
			</div>
		</HighlightsCarousel>
	</div>
</div>

<!-- <script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const carouselForward = document.querySelectorAll('.highlights button:not(.slide-dot)')[1] as HTMLButtonElement;
	const carouselBackward = document.querySelectorAll('.highlights button:not(.slide-dot)')[0] as HTMLButtonElement;
</script> -->

<!-- <script is:inline defer>
	const carouselForward = document.querySelectorAll('.highlights button:not(.slide-dot)')[1];
	const carouselBackward = document.querySelectorAll('.highlights button:not(.slide-dot)')[0];

	function video_end() {
		const canScrollNext = carouselForward.hasAttribute('disabled');
		if (!canScrollNext) carouselForward.click();
		else carouselBackward.click();
	}
</script> -->

<style lang='scss'>
	.highlights {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		height: auto;
		width: 100%;
		justify-content: center;
		align-items: center;

		.ttl-ctn {
			width: 90%;
			text-align: left;
		}
	}

	.carousel {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		padding: 1rem;

		& > .chip,
		& > .chip ~ * {
			position: relative;
		}

		img {
			border-radius: var(--radius);
			margin: 0 auto;
		}
	}
</style>
