@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter';
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans';
	font-weight: 700;
}

html {
	font-size: 100%;
} /* 16px */

h1 {
	font-size: 4.21rem; /* 67.36px */
}

h2 {
	font-size: 3.158rem; /* 50.56px */
}

h3 {
	font-size: 2.369rem; /* 37.92px */
}

h4 {
	font-size: 1.777rem; /* 28.48px */
}

h5 {
	font-size: 1.333rem; /* 21.28px */
}

small {
	font-size: 0.75rem; /* 12px */
}

@layer base {
	:root {
		--background: 0 0% 7%;
		--foreground: 243 76% 95%;
		--card: 0 0% 7%;
		--card-foreground: 243 76% 95%;
		--popover: 0 0% 7%;
		--popover-foreground: 243 76% 95%;
		--primary: 223 35% 34%;
		--primary-foreground: 243 76% 95%;
		--secondary: 225 11% 15%;
		--secondary-foreground: 243 76% 95%;
		--muted: 0 0% 80%;
		--muted-foreground: 243 76% 95%;
		--accent: 196 76% 53%;
		--accent-foreground: 0 0% 7%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 243 76% 10%;
		--border: 0 0% 60%;
		--input: 0 0% 80%;
		--ring: 196 76% 60%;

		--radius: 0.5em;

		--transition: ease 0.2s;

		--linearPrimarySecondary: linear-gradient(#384975, #22242a);
		--linearPrimaryAccent: linear-gradient(#384975, #2cb2e2);
		--linearSecondaryAccent: linear-gradient(#22242a, #2cb2e2);
		--radialPrimarySecondary: radial-gradient(#384975, #22242a);
		--radialPrimaryAccent: radial-gradient(#384975, #2cb2e2);
		--radialSecondaryAccent: radial-gradient(#22242a, #2cb2e2);

		--model-natural: #8f8a81;
		--model-black: #494949;
		--model-blue: #474d5b;
		--model-white: #c9c8c3;
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
