---
import '@/styles/globals.css';

import { Button, buttonVariants } from '@/components/ui/button';
import ButtonLink from '@/components/ui/ButtonLink.astro';

import Logo from '@/components/Logo.astro';

import { Image } from 'astro:assets';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<meta name='robots' content='noindex, nofollow' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>iPhone 15 Pro - Apple+</title>
	</head>
	<body>
		<nav class='border-b border-border/20 bg-background/65'>
			<div class='nav-ctn'>
				<div class='nav-start'>
					<div class='nav-start-wr'>
						<Logo />
					</div>
				</div>
				<div class='nav-middle'>
					<div class='nav-middle-wr'>
						<ButtonLink variant={'ghost'} href='/'>iPhone 15 Pro</ButtonLink>
					</div>
				</div>
				<div class='nav-end'>
					<div class='nav-end-wr'>
						<ButtonLink variant={'ghost'} href='https://www.apple.com/uk/shop/buy-iphone/iphone-15-pro'>Buy Now</ButtonLink>
					</div>
				</div>
			</div>
		</nav>
		<main>
			<div class='front h-screen'>
				<div class='title mt-[5vh] flex flex-col text-center'>
					<h5 class='opacity-80'>The new iPhone 15 Pro</h5>
					<h1 class=''>Titanium. Meh.</h1>
				</div>
			</div>
		</main>
	</body>
</html>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	import * as THREE from 'three';
	import WebGL from 'three/addons/capabilities/WebGL.js';
	import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';
	import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

	gsap.registerPlugin(ScrollTrigger);
	const scene = new THREE.Scene();
	const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 2000);

	const renderer = new THREE.WebGLRenderer();
	renderer.setSize(window.innerWidth, window.innerHeight);
	const ca = document.body.appendChild(renderer.domElement);
	ca.setAttribute('data-id', 'hero');

	const loader = new GLTFLoader();

	loader.load(
		'/models/iphone-showcase.glb',
		function (gltf) {
			const gltfScene = gltf.scene;
			gltfScene.position.z += 1;
			window.addEventListener('mousemove', event => {
				const xPos = event.clientX / innerWidth - 0.5;
				const yPos = event.clientY / innerHeight - 0.5;

				gsap.to(gltfScene.rotation, {
					z: xPos * -1,
					x: -yPos * -1,
					ease: 'power4.out',
				});
			});

			const maxAnisotropy = renderer.capabilities.getMaxAnisotropy();
			gltfScene.traverse((object: any) => {
				if (object.isMesh === true && object.material.map !== null) {
					object.material.map.anisotropy = maxAnisotropy;
				}
			});

			scene.add(gltfScene);
		},
		() => {
			null;
		},
		function (error) {
			console.error(error);
		},
	);

	const light = new THREE.PointLight(); // soft white light
	light.intensity = 15;
	light.position.set(-5, 5, -5);
	const lightH = new THREE.PointLightHelper(light);
	scene.add(light, lightH);

	camera.position.set(0, 5, 0);
	camera.lookAt(0, 0, 0);

	// const hlp = new THREE.AxesHelper(1);
	// scene.add(hlp);

	window.addEventListener('resize', event => {
		camera.aspect = innerWidth / innerHeight;
		camera.updateProjectionMatrix();
		renderer.setSize(innerWidth, innerHeight);
	});
	function animate() {
		renderer.render(scene, camera);
	}

	if (WebGL.isWebGLAvailable()) {
		renderer.setAnimationLoop(animate);
	} else {
		const warning = WebGL.getWebGLErrorMessage();
		document.getElementById('container')?.appendChild(warning);
	}
</script>

<style lang='scss' is:global>
	* {
		padding: 0;
		margin: 0;
	}

	body {
		overflow-x: hidden;
	}

	nav {
		top: 0;
		position: sticky;
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		backdrop-filter: blur(6px);
		width: 100%;
		z-index: 100;

		.nav-ctn {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 45%;
			height: 100%;
			align-content: center;
			justify-content: space-around;
			gap: 8rem;

			.nav-start,
			.nav-start ~ * {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 120px;
				min-width: 120px;

				.nav-start-wr,
				.nav-start-wr ~ * {
					margin: 0 auto;
				}
			}

			.nav-end {
				flex: 1 1;
			}
		}
	}

	canvas[data-id='hero'] {
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
	}
</style>
