---
import { Image } from 'astro:assets';
import frameImg from '@/assets/models/frame.png';
---

<div class='display'>
	<div class='anim'>
		<div class='frame'>
			<Image src={frameImg} alt='' />
			<div class='video-ctn'>
				<video class='' loop playsinline src='/videos/cinematic.mp4' muted></video>
			</div>
		</div>
	</div>
	<!-- <div class='display-content'>
		<div class='info'>
			<h2>A beautiful full-screen OLED display</h2>
			<p>The Super Retina XDR Display offers a crisp image whilst offering a smooth refresh rate of up to 120Hz.</p>
		</div>
	</div> -->
</div>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const display = document.querySelector('.display');
	const video = document.querySelector('video');
</script>

<style lang='scss'>
	.display {
		margin-top: 50vh;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;

		.display-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 80%;
			height: 100%;
		}
	}

	.anim {
		width: 100vw;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		scale: 2.5;

		.frame {
			width: 1024px;
			position: relative;

			img {
				position: relative;
				z-index: 10;
				width: 1024px;
			}

			.video-ctn {
				width: 1024px;
				position: absolute;
				overflow: hidden;
				top: 50%;
				right: -1rem;
				transform: translateY(-50%);

				video {
					width: 97%;
					height: auto;
					border-radius: 60px;
				}
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
		gap: 1rem;
	}
</style>
