---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import heroImage from '@/assets/hero_camera.jpg';
import Spacer from '../Spacer.astro';

interface Image {
	lens: string;
	description: string;
	src: string;
}

let images: Image[] = [];
const imagesGlob = import.meta.glob<{ default: ImageMetadata }>('/src/assets/camera/*.jpg');
for (const image in imagesGlob) {
	const srcRAW = await imagesGlob[image]().then(res => res.default.src);

	const src = srcRAW.split('/')[srcRAW.split('/').length - 1];
	const lens = src.split(' ')[0].split('-')[1].split('?')[0].trim();
	const description = src.split('x')[1].replace(',', '|').split('?')[0].replace('.jpg', '').trim();

	images.push({ src: srcRAW, lens, description });
}
---

<div class='camera'>
	<div class='hero'>
		<div class='ctn'>
			<div class='header'>
				<h1 class='font-bold'>Capture your wildest imagination.</h1>
				<p class='font-semibold text-xl text-foreground/70'>
					From dramatic framing flexibility to next-generation portraits, see what you can do with our most powerful iPhone camera system (kinda).
				</p>
			</div>
			<Spacer spacingSize='20vh' />
			<div class='image-showcase'>
				<div class='img-ctn'>
					<Image src={heroImage} alt='' />
				</div>
			</div>
		</div>
	</div>

	<div class='advanced'>
		<div class='header'>
			<h2 class='text-foreground/70'>See the world with a <span class='text-foreground'>different perspective</span></h2>
		</div>
		<div class='scroll-ctn'>
			<div class='image-ctn'>
				{
					images.map(image => (
						<div class='lense'>
							<img src={image.src} alt='' />
							<div class='description'>
								<p class='text-xl font-semibold text-foreground/60'>
									<span class='text-foreground'>{image.lens}</span>
									{image.description}
								</p>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
</div>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const heroImg = document.querySelector('.img-ctn img');
	const heroContainer = document.querySelector('.image-showcase');

	gsap.to(heroImg, {
		scale: '1.2',
		opacity: 1,
		scrollTrigger: {
			trigger: heroContainer,
			start: 'top 90%',
			end: 'bottom 120%',
			scrub: 1,
		},
	});

	const advanced = document.querySelector('.advanced');
	const scrollCtn = document.querySelector('.scroll-ctn');

	gsap.to(scrollCtn, {
		transform: 'translateX(calc(calc(-653px * 7) + calc(653px / 3.5)))',
		scrollTrigger: {
			trigger: advanced,
			start: 'top 15%',
			end: '+=5000',
			scrub: 1,
			pin: true,
			pinSpacing: true,
		},
		ease: 'none',
	});

	window.addEventListener('scroll', event => {
		advanced?.querySelectorAll('.image-ctn .lense').forEach((image, index) => {
			if (ScrollTrigger.isInViewport(image, 1.4, true)) {
				// console.log(image.querySelector('p')?.textContent, 'is in viewport');
				image.classList.add('active');
			} else {
				image.classList.remove('active');
			}
		});
	});
</script>

<style lang='scss'>
	.camera {
		background-color: black;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding-top: 25vh;
	}

	.hero {
		background-color: black;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 2rem;
		align-items: center;
		gap: 5rem;

		.ctn {
			width: 980px !important;
		}

		.header {
			position: relative;
			z-index: 10;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
			gap: 2rem;
			width: 100%;
		}

		.image-showcase {
			.img-ctn {
				img {
					transform: scale(1.8);
					opacity: 0.3;
					transform-origin: bottom;
				}
			}
		}
	}

	.advanced {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;

		.header {
			display: flex;
			justify-content: center;
			gap: 2rem;
			width: 100%;
		}

		.scroll-ctn {
			width: auto;

			.image-ctn {
				display: flex;
				flex-direction: row;
				gap: 3.5rem;
				width: 653px;

				.lense {
					transition:
						opacity 0.35s ease-in-out,
						scale 0.6s ease-in-out;
					opacity: 0.4;
					scale: 0.9;
					position: relative;
					min-width: 653px;

					img {
						width: 653px;
					}

					.description {
						position: absolute;
						bottom: -3rem;
						left: 50%;
						transform: translateX(-50%);
					}

					&.active {
						opacity: 1;
						scale: 1;
					}
				}
			}
		}
	}
</style>
