---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import heroImage from '@/assets/hero_camera.jpg';
import Spacer from '../Spacer.astro';

let images = [];
const imagesGlob = import.meta.glob<{ default: ImageMetadata }>('/src/assets/camera/*.jpg');
for (const image in imagesGlob) {
	const src = await imagesGlob[image]().then(res => res.default.src);
	images.push(src);
}
---

<div class='camera'>
	<div class='hero'>
		<div class='ctn'>
			<div class='header'>
				<h1 class='font-bold'>Capture your wildest imagination.</h1>
				<p class='font-semibold text-xl text-foreground/70'>
					From dramatic framing flexibility to next-generation portraits, see what you can do with our most powerful iPhone camera system (kinda).
				</p>
			</div>
			<Spacer spacingSize='20vh' />
			<div class='image-showcase'>
				<div class='img-ctn'>
					<Image src={heroImage} alt='' />
				</div>
			</div>
		</div>
	</div>

	<div class='advanced'>
		<div class='header'>
			<h3>cool cameras</h3>
		</div>
		<div class='scroll-ctn'>
			<div class='image-ctn'>
				{images.map(imagePath => <img src={imagePath} alt='' />)}
			</div>
		</div>
	</div>
</div>

<script>
	import gsap from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const heroImg = document.querySelector('.img-ctn img');
	const heroContainer = document.querySelector('.image-showcase');

	gsap.to(heroImg, {
		scale: '1.2',
		opacity: 1,
		scrollTrigger: {
			trigger: heroContainer,
			start: 'top 90%',
			end: 'bottom 120%',
			scrub: 1,
		},
	});
</script>

<style lang='scss'>
	.camera {
		background-color: black;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding-top: 25vh;
	}

	.hero {
		background-color: black;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 2rem;
		align-items: center;
		gap: 5rem;

		.ctn {
			width: 980px !important;
		}

		.header {
			position: relative;
			z-index: 10;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
			gap: 2rem;
			width: 100%;
		}

		.image-showcase {
			.img-ctn {
				img {
					transform: scale(1.8);
					opacity: 0.3;
					transform-origin: bottom;
				}
			}
		}
	}

	.advanced {
		.scroll-ctn {
			.image-ctn {
				display: flex;
				flex-direction: row;
				width: 653px;
			}
		}
	}
</style>
